%common1 {
  opacity: 1;
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s,
  opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
  -ms-transform-origin: center top;
  transform-origin: center top;
}

.web-dialog-enter-active, .web-dialog-leave-avtive {
  transition:  opacity 0.2s linear;
}

.web-dialog-enter, .web-dialog-leave-to {
  transition: opacity 0.2s linear;
  opacity: 0;
}

.web-fade-enter-active, .web-fade-leave-avtive {
  transition: opacity 0.2s
}

.web-fade-enter, .web-fade-leave-to {
  opacity: 0;
}

/* box-right 从右向左 */
.box-right-enter-active,  .box-right-leave-active {
  transition: all 0.3s linear;
  transform: translateX(0);
}
.box-right-enter,  .box-right-leave {
  transform: translateX(100%);
}
.box-right-leave-to{
  transform: translateX(100%);
}

/* box-left 从左向右 */
.box-left-enter-active,
.box-left-leave-active {
  transition: all 0.3s linear;
  transform: translateX(0%);
}
.box-left-enter,
.box-left-leave {
  transform: translateX(-100%);
}
.box-left-leave-to {
  transform: translateX(-100%);
}

/* box-up 从上往下*/
.box-up-enter-active,
.box-up-leave-active {
  @extend %common1;
  transform-origin: center top;
}

.box-up-enter,
.box-up-leave-active,
.drop-down-enter,
.drop-down-leave-active {
  opacity: 0;
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}


/* box-down 从下往上*/
.box-down-enter-active,
.box-down-leave-active {
  opacity: 1;
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.1s,
  opacity 0.1s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

.box-down-enter,
.box-down-leave-active,
.drop-down-enter,
.drop-down-leave-active {
  transition: all 0.2s linear;
  opacity: 0;
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

/* 元素 组 */
.fade-list-enter-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.15s;
}
.fade-list-enter-to {
  opacity: 1;
  transition: all 0.15s;
  transform: translateY(0);
}
.fade-list-enter-active:nth-child(1) {
  transition-delay: 0s;
}
.fade-list-enter-active:nth-child(2) {
  transition-delay: 0.1s;
}
.fade-list-enter-active:nth-child(3) {
  transition-delay: 0.15s;
}
.fade-list-enter-active:nth-child(4) {
  transition-delay: 0.25s;
}
.fade-list-enter-active:nth-child(5) {
  transition-delay: 0.3s;
}
.fade-list-enter-active:nth-child(6) {
  transition-delay: 0.2s;
}

/* 元素 左到右 */
.fade-list-to-right-enter-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.15s;
}
.fade-list-to-right-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.fade-list-to-right-enter-active:nth-child(1) {
  transition-delay: 0s;
}
.fade-list-to-right-enter-active:nth-child(2) {
  transition-delay: 0.15s;
}
.fade-list-to-right-enter-active:nth-child(3) {
  transition-delay: 0.2s;
}
.fade-list-to-right-enter-active:nth-child(4) {
  transition-delay: 0.35s;
}
.fade-list-to-right-enter-active:nth-child(5) {
  transition-delay: 0.5s;
}
.fade-list-to-right-enter-active:nth-child(6) {
  transition-delay: 0.65s;
}
