.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
.h-auto {
  height: auto;
}
.h100{
  height: 100%;
}
.w100{
  width: 100%;
}
.wh100{
  width: 100%;
  height: 100%;
}

// 边距
.pd-xs{
  padding: .4rem;
}
.pd-sm{
  padding: .6rem;
}
.pd-left-xs{
  padding-left: 0.5rem;
}
.pd-left-sm{
  padding-left: .75rem;
}
.pd-right-xs{
  padding-right: 0.5rem;
}
.pd-right-sm{
  padding-right: .75rem;
}
.pd-top-xs{
  padding-top: 0.5rem;
}
.pd-top-sm{
  padding-top: .75rem;
}
.pd-bottom-xs{
  padding-bottom: 0.5rem;
}
.pd-bottom-sm{
  padding-bottom: .75rem;
}

.mg-left-xs{
  margin-left: 0.5rem;
}
.mg-left-sm{
  margin-left: .75rem;
}
.mg-right-xs{
  margin-right: 0.5rem;
}
.mg-right-sm{
  margin-right: .75rem;
}
.mg-top-xs{
  margin-top: 0.5rem;
}
.mg-top-sm{
  margin-top: .75rem;
}

// flex 布局
.flex {
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction-column{
  flex-direction: column;
}
.flex-direction-row{
  flex-direction: row;
}
.flex1{
  flex: 1;
}

// 列布局
.column-3{
  column-count: 3;
}
.column-gap-xs{
  column-gap: .3rem;
}

// 圆角
.rounded-md{
  border-radius: 0.375rem;
}

// 文字灰边
.bkgy{
  padding: .2rem .8rem;
  background: var(--bkgy);
}
.bkgy-success{
  padding: .2rem .8rem;
  background: #35ba54;
}
.bkgy-danger{
  padding: .2rem .8rem;
  background: #ee6b6b;
}
// 文本
.text-xs{
  font-size: .85rem;
  line-height: 1.35rem;
}
.text-sm{
  font-size: .875rem;
  line-height: 1.25rem;
}
//透明度
.opacity-50{
  opacity: .5;
}
.opacity-80 {
  opacity: .8;
}

.gap-2 {
  gap: 0.6rem;
}
.gap-3 {
  gap: 0.8rem;
}

// border
.bd-default{
  border: 1px var(--item-border-default-color) solid;
}
.bd-un-radius{
  border-radius: 0;
}
.bd-top{
  border-top: 1px var(--item-border-default-color) solid;
}
.bd-left{
  border-left: 1px var(--item-border-default-color) solid;
}
.bd-right{
  border-right: 1px var(--item-border-default-color) solid;
}
.bd-bottom{
  border-bottom: 1px var(--item-border-default-color) solid;
}
