body {
  cursor: url('/src/assets/imgs/mouse/default.cur'),default;
}
a, button, img {
  cursor: url('/src/assets/imgs/mouse/pointer.cur'),default;
}
.pointer, .el-button {
  cursor: url('/src/assets/imgs/mouse/pointer.cur'),default;
}

* {
  margin: 0;
  padding: 0;
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

li{
  list-style: none;
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  font-size: 25px;
  vertical-align: middle;
  color: rgb(117, 120, 137);
  transition: .3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-white{
  color: white;
}
.color-red{
  color: red;
}
 .color-green{
   color: green;
 }
.color-lawngreen{
  color: lawngreen;
}
.bgc-red{
  background: red;
}
.bgc-green{
  background: limegreen;
}
.bgc-lawngreen{
  background: lawngreen;
}
.bgc-blue{
  background: dodgerblue;
}
.bgc-silver{
  background: silver;
}

/* 滚动条样式 */
::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px !important;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px !important;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35) !important;
  background: #535353 !important;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px #EDEDED !important;
  border-radius: 10px !important;
  //background: rgba(0,0,0,0.5) !important;
  background: white !important;
}

/* hover动画 */
.click-box{
  transition: all 0.2s ease-out;
}
.click-box:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/* 大文本输入框 */
.a-textarea {
  width: 95%;
  height: auto;
  max-width: 95%;
  padding: 10px;
  background-color: var(--background-textarea);
  border-radius: 6px;
  box-sizing: border-box;
  transition: 0.2s;
  font-size: 15px;
  color: var(--font-color-default);
  font-weight: 100;
  margin-top: 1px;
  border: 1px;
  overflow:auto;
  word-break:break-all;

  &:focus {
    outline: none;
  }
}

/* 按钮 */
.btn{
  color: var(--font-color-default);
  padding: 8px 15px;
  border-radius: 6px;
  background: var(--background-button-default);
  border: 1px var(--item-border-default-color) solid;
  transition: all 0.1s linear;
}
.btn:hover{
  border: 1px var(--item-border-hover-color) solid;
  box-shadow: var(--item-border-hover-color) 0px 0px 3px 0px;
}
.btn:active{
  border: 1px var(--item-border-active-color) solid;
  box-shadow: var(--item-border-active-color) 0px 0px 3px 0px;
}
.btn.transparent{
  background: rgba(255, 255, 255, 0);
}
