.el-card__body, .el-main {
    padding: 0px 15px 5px 0px;
}

.el-aside{
    /*background-image: linear-gradient(to bottom,#161924, #32374e);*/
    height: 100%;
}

.el-header {
    padding: 0 0 0 20px;
    background-image: linear-gradient(to top right,#272a37, #353b57);
}

/* form */
.el-form-item {
    margin-bottom: 10px
}

/* input */
.el-input__inner{
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.09);
    color: white;
    border: 1px solid #acacac;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.el-input input{
    outline-style: none;
    border: 1px #868282 solid;
}
.el-input input:hover{
    opacity: 1;
    display: inline-block;
    border: 1px #c48bfd solid;
}
.el-input input:focus{
    opacity: 1;
    display: inline-block;
    border: 1px #aa64f1 solid;
}

.el-input.is-disabled .el-input__inner {
    background-color: rgba(87, 87, 87, 0.2);
    border-color: rgba(0, 0, 0, 0.0);
    color: #C0C4CC;
    cursor: not-allowed;
}

/* 单选 */
.el-radio {
    color: #ffffff;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #8784e5;
    background: #8784e5;
}
.el-radio__input.is-checked + .el-radio__label {
    color: #8784e5;
}

/* 按钮 */
.el-button:hover {
    color: white;
    border-color: #b8b5b3;
    background-color: #e7ddfa;
}
.el-button:active {
    box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.3) inset;
}

.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {
    color: #C0C4CC;
    cursor: not-allowed;
    background-image: none;
    background-color: #4e525c;
    border-color: #6a6a6a;
}

.el-button--save {
    color: #e7e7e7;
    background-color: #7566b6;
    border-color: #7566b6;
}

/* 滑动 */
.el-slider__runway {
    width: 100%;
    height: 5px;
    margin: 16px 0;
    background-color: #E4E7ED;
    border-radius: 8px;
}
.el-slider__bar {
    height: 5px;
    background-color: #9362e3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
}

/* 冒泡下拉 */
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover{
    background-color: #f5ecff;
    color: #767676;
}
.el-popper .popper__arrow {
    display: none;
}
