$theme-blue-aside-color: rgb(39, 42, 55);
$theme-blue-aside-hover-color: rgba(74, 76, 92, 0.7);
$theme-blue-main-color: rgb(57, 60, 78);
$theme-blue-font-default-color: white;
$theme-blue-login-top: #343438;
$theme-blue-login-top-close: #ff0076;
$theme-blue-login-top-close-span: #7b7b7b;
$theme-blue-session-list-background: rgba(14, 14, 14, 0);
$theme-blue-session-list-item-background: #0e0e0e;
$theme-blue-session-list-item-active-color: #7a4cc4;
$theme-blue-session-list-item-action-background: linear-gradient(to right, rgba(0, 0, 0, 0.01), rgb(53, 54, 61));
$theme-blue-tabs-background: rgb(78, 79, 92);
$theme-blue-tabs-active-background: $theme-blue-main-color;
$theme-blue-dialog-background: #070707;
