:root{
    --bkgy: rgb(92, 94, 109);

    --font-color-markdown: white;
    --font-color-default: #ffffff;
    --font-color-default2: black;
    --font-color-no-normal: #d5d5d5;
    --font-color-aside: white;
    --font-color-iconfont: white;
    --font-color-notable: rgb(198, 239, 233);
    --font-color-intror: rgb(189, 189, 189);

    --background-main: rgb(57, 60, 78);
    --background-textarea: rgb(66, 70, 86);

    --aside-background: rgb(39, 42, 55);
    --aside-hover-color: rgba(74, 76, 92, 0.7);

    --session-list-background: #2f3340;
    --session-list-item-action-background: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(110, 111, 121, 0.53));
    --session-list-li-background: rgba(74, 76, 92, 0.7);
    --session-list-li-active-background: rgba(74, 76, 92, 0.7);
    --session-list-create-session-border: rgba(255, 255, 255, 0.5);
    --session-list-create-session-border-hover: #fff;

    --session-window-system-background: rgb(80, 82, 104);
    --session-window-user-background: #72ec69;;
    --session-window-item-hover-color: rgba(255, 255, 255, 0.04);

    --topclose-font-color: #7b7b7b;

    --tabs-background: rgb(78, 79, 92);
    --tabs-simple-background: rgba(78, 79, 92, 0);
    --tabs-active-background: rgb(57, 60, 78);
    --tabs-active-simple-background: rgb(226, 226, 231);

    --item-border-default-color: rgba(184, 184, 184, 0.52);
    --item-border-active-color: rgb(117, 219, 203);
    --item-border-hover-color: rgb(168, 232, 222);
    --item-border-normal-color: rgba(114, 112, 112, 0.5);

    --draw-task-list-item-content-background: rgba(0, 0, 0, 0.12);
    --draw-task-list-item-bottom-background: rgba(0, 0, 0, 0.3);

    --help-background: linear-gradient(to bottom, rgb(32, 35, 45), rgba(50, 50, 50, 0.15));
    --help-bottom-li-background: rgba(0, 0, 0, 0.91);

    --markdown-box-shadow: rgba(0, 0, 0, 0) 0px 2px 12px 0px;
    --markdown-pre-border: 1px solid #272822;
    --markdown-pre-background-color: #272822;
    --markdown-pre-font-color: white;
    --markdown-line-num-box-color: #ccc;
    --markdown-line-num-box-border-right: 2px solid #fff;
    --markdown-code-webkit-scrollbar-background-color: #1e1e1e;
    --markdown-code-webkit-scrollbar-thumb-background-color: #666;
    --markdown-code-webkit-scrollbar-button-background-color: #1e1e1e;
    --markdown-copy-button-color: #ffffff;
    --markdown-copy-button-background-color: #9999aa;
    --markdown-copy-button-hover-background: black;
    --markdown-lang-background: #272822;
    --markdown-lang-color: #fff;

    --dialog-background: linear-gradient(to bottom, #1e1e28 , #2e343d);
    --dialog-box-shadow: 5px 2px 2px 3px rgb(39, 42, 55);

    --gallery-item-hover-background: linear-gradient(to top, rgba(12, 12, 12, 0.5), rgba(50, 50, 50, 0));
    --gallery-prompt-background: #2c333d;

    --col-border-color: rgba(71, 73, 94, 0.7);

    /*--button-default-background: linear-gradient(#747580, #52555f 50%, #454857 51%, #6b727b);*/
    --button-border-color: #7f7f7f;
    --button-default-background: linear-gradient(to bottom, #4d4d5f, #474753);
    --button-default-background-hover: rgba(255, 255, 255, 0.1);
    --button-normal-background: #555a65;

    --el-table-background: #373a48;
    --el-table-head-background: #212432;
    --el-table-tr-background: #373a48;
    --el-table-tr-hover-background: #212432;

    --el-input-background: rgba(0, 0, 0, 0.09);
    --el-tooltip-dark-background: #5d6061;

    --span-button-bkg-default: rgb(70, 194, 172);
    --span-button-font-color: #fff8f8;
    --span-button-bkg-red: rgb(205, 83, 96);
    --span-button-bkg-violet: rgb(140, 84, 208);
    --span-button-bkg-yellow: rgb(206, 215, 83);

}
