@font-face {
  font-family: "iconfont"; /* Project id 4112509 */
  src: url('iconfont.woff2?t=1686482759008') format('woff2'),
       url('iconfont.woff?t=1686482759008') format('woff'),
       url('iconfont.ttf?t=1686482759008') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e85b";
}

.icon-e_guanbi:before {
  content: "\e617";
}

.icon-AI:before {
  content: "\e609";
}

.icon-code:before {
  content: "\e60a";
}

.icon-kuangjia:before {
  content: "\e60b";
}

.icon-chat-bolt:before {
  content: "\e60c";
}

.icon-bangongguanli2:before {
  content: "\e60d";
}

.icon-dengpao:before {
  content: "\e60e";
}

.icon-tiaoseban:before {
  content: "\e60f";
}

.icon-huidaodingbu:before {
  content: "\e610";
}

.icon-tuxiangleixing:before {
  content: "\e611";
}

.icon-mingliangmoshi:before {
  content: "\e612";
}

.icon-xuexi:before {
  content: "\e613";
}

.icon-qixiangleida:before {
  content: "\e614";
}

.icon-yejianmoshi:before {
  content: "\e615";
}

.icon-yumaobi:before {
  content: "\e616";
}

.icon-zhanghao:before {
  content: "\e673";
}

.icon-a-tianjia:before {
  content: "\e674";
}

.icon-shuangxiang:before {
  content: "\e675";
}

.icon-zhuanquanjiazai:before {
  content: "\e676";
}

.icon-shuaxin:before {
  content: "\e677";
}

.icon-shangchuan:before {
  content: "\e678";
}

.icon-tanhaotishi:before {
  content: "\e679";
}

.icon-xiazai:before {
  content: "\e67a";
}

.icon-xiugai:before {
  content: "\e67b";
}

.icon-tianjiafapiao:before {
  content: "\e67c";
}

.icon-yincangmima:before {
  content: "\e67d";
}

.icon-shoujihao:before {
  content: "\e67e";
}

.icon-xianshimima:before {
  content: "\e67f";
}

.icon-sanjiaojingshi-copy:before {
  content: "\e680";
}

.icon-mima:before {
  content: "\e681";
}

.icon-caozuoshezhi:before {
  content: "\e682";
}

.icon-xiaoxi:before {
  content: "\e683";
}

.icon-zhiyin:before {
  content: "\e684";
}

.icon-kefu:before {
  content: "\e685";
}

.icon-baocun:before {
  content: "\e668";
}

.icon-guanyu:before {
  content: "\e669";
}

.icon-chakan:before {
  content: "\e66a";
}

.icon-shanchu:before {
  content: "\e66b";
}

.icon-shanchu-:before {
  content: "\e66c";
}

.icon-fuzhi:before {
  content: "\e66d";
}

.icon-xiugaibianji:before {
  content: "\e66e";
}

.icon-sousuo:before {
  content: "\e66f";
}

.icon-youxiang:before {
  content: "\e670";
}

.icon-tixinglaba:before {
  content: "\e671";
}

.icon-fangqixiugai:before {
  content: "\e672";
}

