@font-face {
  font-family: "iconfont"; /* Project id 4112509 */
  src: url('iconfont.woff2?t=1699927183546') format('woff2'),
       url('iconfont.woff?t=1699927183546') format('woff'),
       url('iconfont.ttf?t=1699927183546') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e61d";
}

.icon-gengduo:before {
  content: "\e61e";
}

.icon-fanhui:before {
  content: "\e61f";
}

.icon-guanzhu-zhihui:before {
  content: "\e620";
}

.icon-jinru:before {
  content: "\e621";
}

.icon-home:before {
  content: "\e640";
}

.icon-add-01:before {
  content: "\e6f3";
}

.icon-remove-01:before {
  content: "\e6f4";
}

.icon-waste-restore:before {
  content: "\e6f5";
}

.icon-waste:before {
  content: "\e6f6";
}

.icon-delete-put-back:before {
  content: "\e6f7";
}

.icon-add-02:before {
  content: "\e6f8";
}

.icon-zhankai-01:before {
  content: "\e619";
}

.icon-zhedie-01:before {
  content: "\e61a";
}

.icon-a-addtoperson:before {
  content: "\e65c";
}

.icon-chat:before {
  content: "\e65d";
}

.icon-device:before {
  content: "\e65e";
}

.icon-rain:before {
  content: "\e663";
}

.icon-a-signin:before {
  content: "\e665";
}

.icon-languange:before {
  content: "\e660";
}

.icon-security2:before {
  content: "\e664";
}

.icon-gitHub-01:before {
  content: "\e667";
}

.icon-linkedin-01:before {
  content: "\e67c";
}

.icon-telegram-01:before {
  content: "\e686";
}

.icon-twitch-01:before {
  content: "\e687";
}

.icon-align-center:before {
  content: "\e61b";
}

.icon-align-right:before {
  content: "\e61c";
}

.icon-thumb-up-fill:before {
  content: "\e622";
}

.icon-eye:before {
  content: "\e623";
}

.icon-thumb-down-fill:before {
  content: "\e624";
}

.icon-global:before {
  content: "\e618";
}

.icon-guanbi:before {
  content: "\e85b";
}

.icon-e_guanbi:before {
  content: "\e617";
}

.icon-AI:before {
  content: "\e609";
}

.icon-code:before {
  content: "\e60a";
}

.icon-kuangjia:before {
  content: "\e60b";
}

.icon-chat-bolt:before {
  content: "\e60c";
}

.icon-bangongguanli2:before {
  content: "\e60d";
}

.icon-dengpao:before {
  content: "\e60e";
}

.icon-tiaoseban:before {
  content: "\e60f";
}

.icon-huidaodingbu:before {
  content: "\e610";
}

.icon-tuxiangleixing:before {
  content: "\e611";
}

.icon-mingliangmoshi:before {
  content: "\e612";
}

.icon-xuexi:before {
  content: "\e613";
}

.icon-qixiangleida:before {
  content: "\e614";
}

.icon-yejianmoshi:before {
  content: "\e615";
}

.icon-yumaobi:before {
  content: "\e616";
}

.icon-zhanghao:before {
  content: "\e673";
}

.icon-a-tianjia:before {
  content: "\e674";
}

.icon-shuangxiang:before {
  content: "\e675";
}

.icon-zhuanquanjiazai:before {
  content: "\e676";
}

.icon-shuaxin:before {
  content: "\e677";
}

.icon-shangchuan:before {
  content: "\e678";
}

.icon-tanhaotishi:before {
  content: "\e679";
}

.icon-xiazai:before {
  content: "\e67a";
}

.icon-xiugai:before {
  content: "\e67b";
}

.icon-yincangmima:before {
  content: "\e67d";
}

.icon-shoujihao:before {
  content: "\e67e";
}

.icon-xianshimima:before {
  content: "\e67f";
}

.icon-sanjiaojingshi-copy:before {
  content: "\e680";
}

.icon-mima:before {
  content: "\e681";
}

.icon-caozuoshezhi:before {
  content: "\e682";
}

.icon-xiaoxi:before {
  content: "\e683";
}

.icon-zhiyin:before {
  content: "\e684";
}

.icon-kefu:before {
  content: "\e685";
}

.icon-baocun:before {
  content: "\e668";
}

.icon-guanyu:before {
  content: "\e669";
}

.icon-chakan:before {
  content: "\e66a";
}

.icon-shanchu:before {
  content: "\e66b";
}

.icon-shanchu-:before {
  content: "\e66c";
}

.icon-fuzhi:before {
  content: "\e66d";
}

.icon-xiugaibianji:before {
  content: "\e66e";
}

.icon-sousuo:before {
  content: "\e66f";
}

.icon-youxiang:before {
  content: "\e670";
}

.icon-tixinglaba:before {
  content: "\e671";
}

.icon-fangqixiugai:before {
  content: "\e672";
}

